body {
	margin: 0px;
}

h1, h2, h3{
	font-family: 'Montserrat';
}

h1 {
	font-size: 80px;
	color: #fff;
	line-height: 0;
	font-weight: 700;
}

a {
	text-decoration: none;
}

h2 {
	font-size: 24px;
	color: #fff;
	font-weight: 400;
}

p, a {
	font-family: 'Montserrat';
	font-size: 14pt;
	font-weight: 400;
	color: #fff;
}

.section-1{
	height: 100vh;
	width: 100%;
	display: table;
	background: url('./assets/clock.png') no-repeat 50% 81% #dc3d3d;
}

.watch {
	margin-top: -38px;
	padding-left: 61px;
}

.text1 {
	display: table-cell;
	padding-left: 100px;
	padding-bottom: 50px;
	width: 50%;
	vertical-align: bottom;
}

.text2 {
	display: table-cell;
	text-align: right;
	padding-right: 100px;
	padding-bottom: 74px;
	width: 50%;
	line-height: 0;
	vertical-align: bottom;
}

.email-banner {
	width: 350px;
	border-bottom: 2px white solid;
	float: right;
}


.play {
	padding-left: 312px;
	margin-top: -10px;
}

.clock-table {
	display: table-cell;
	vertical-align:bottom;
	max-width: 50%;
}

.clock-img{
	margin-left:auto;
	display: block;
	margin-right:auto;
}