body {
	margin: 0px;
}

h1, h2, h3{
	font-family: 'Montserrat';
}

h1 {
	font-size: 80px;
	color: #fff;
	line-height: 0;
	font-weight: 700;
}

a {
	text-decoration: none;
}

h2 {
	font-size: 24px;
	color: #fff;
	font-weight: 400;
}

h3 {
	font-size: 40px;
	color: #fff;
	font-weight: 700;
}

p, a {
	font-family: 'Montserrat';
	font-size: 14pt;
	font-weight: 400;
	color: #fff;
}

.section-1{
	height: 100vh;
	display: table;
}

.watch {
	margin-top: -38px;
	padding-left: 61px;
}

video {
	position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 	background: url('./assets/clock.png') no-repeat 50% 81% #cf2b3f;
 	background-size: cover;
  	transition: 1s opacity;
}

.text1 {
	display: table-cell;
	padding-left: 100px;
	padding-bottom: 50px;
	width: 50%;
	vertical-align: bottom;
}

.text2 {
	display: table-cell;
	text-align: right;
	padding-right: 100px;
	padding-bottom: 74px;
	width: 50%;
	line-height: 0;
	vertical-align: bottom;
}

.email-banner {
	width: 350px;
	border-bottom: 2px white solid;
	float: right;
}


.play {
	padding-left: 312px;
	margin-top: -10px;
}

.clock-table {
	display: table-cell;
	vertical-align:bottom;
	max-width: 50%;
}

.clock-img{
	margin-left:auto;
	display: block;
	margin-right:auto;
}

.section-2{
	height: 100vh;
	width: 100%;
	display: table;
}

.connected {
	display: table-cell;
	max-width: 60%;
	background: url('./assets/connected.png') 0% 40% no-repeat #66cc99;
}

.connected-text {
	padding: 120px 100px 0px 100px;
}

.connected-text h1 {
	line-height: 1;
}

.other {
	display: table-cell;
	width: 40%;
}

.render {
	height: 70vh;
	background: url('./assets/render.png') no-repeat 50% 100% #ffcc00;
}

.sign-up {
	height: 30vh;
	background: #333;
}

.sign-up-title {
	padding: 20px 50px 0px 50px;
}